#arena {
    background: skyblue;
    padding: 10px;
    position: absolute;
    top: calc(50vh - 400px);
    left: calc(50vw - 400px);
}
.card {
    display: inline-block;
    margin: 10px;
    background: slateblue;
    vertical-align: middle; /* inline-block元素包含文字和不包含文字基线会不一致*/
    text-align: center;
    color: white;
    font-size: 49px;
}
#info > div {
    padding: 5px;
}