.cat-house {
  margin-top: 10vh;
  margin-left: 15vh
}

.cats {
  cursor: pointer;
}

.cat-avatar {
  height: 350px;
}

.cat-name {
  color: slateblue;
}

.click-times {
  color: skyblue;
}

.form {
  display: none;
}